<%- include('./partials/head') %>
    <main>
        <div class="product-container">
            <% products.forEach(product=> { %>
                <div class="product-card">
                    <h2>
                        <%= product.title %>
                    </h2>
                    <% if (product.imageUrl) { %>
                        <img src="<%= product.imageUrl %>" alt="<%= product.title %>" width="280" height="187">
                        <% } %>
                            <p>
                                <%= product.description %>
                            </p>
                </div>
                <% }) %>
        </div>
    </main>
    <%- include('./partials/foot') %>