<%- include('./partials/head') %> <% products.forEach(product=> { %>

<h2><%= product.title %></h2>

<% if (product.image) { %>
<picture class="cover-image">
  <source
    srcset="https://fdnd-agency.directus.app/assets/<%= story.image %>?width=200&height=200&format=avif"
    type="image/avif"
    alt="cover image"
  />
  <source
    srcset="https://fdnd-agency.directus.app/assets/<%= story.image %>?width=200&height=200&format=webp"
    type="image/webp"
    alt="cover image"
  />
  <img
    src="https://fdnd-agency.directus.app/assets/<%= story.image %>?width=200&height=200"
    alt="playlist cover image"
  />
</picture>
<% } else { %>
<img src="/assets/empty-cover" alt="cover image" loading="lazy" />
<% } %> <% }) %> <%- include('./partials/foot') %>
