<%- include('./partials/head') %>

    <%- include('./partials/header') %>

        <main>
            <section class="product-container">
                <% items.forEach(item=> { %>
                    <div class="product-card">
                        <%= item.title %>
                            <% item.products.forEach(product=> { %>
                                <picture>
                                    <source srcset="<%= product.imageUrl %>?fm=webp&w=300" type="image/webp">
                                    <source srcset="<%= product.imageUrl %>?fm=avif&w=300" type="image/avif">
                                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                </picture>
                                <% }); %>
                    </div>
                    <% }); %>
            </section>
        </main>


        <%- include('./partials/foot') %>