<%- include('./partials/head') %> <%- include('./partials/header') %>

<main>
  <section class="product-container">
    <% products.forEach(product=> { %>
    <div class="product-card">
      <h2><%= product.name %></h2>

      <!-- bron: https://www.contentful.com/blog/always-look-your-best-webp-source-sets-and-the-contentful-images-api/   -->
      <!-- https://images.ctfassets.net/
       {space_id}/{asset_id}/{unique_id}/{name}?fm={image_format} -->

      <picture>
        <% console.log(product.image) %>
        <source
          srcset="https://assets.ctfassets.net/x2maf5pkzgmb/<%= product.image %>?fm=avif"
          type="image/avif"
        />
        <source
          srcset="https://assets.ctfassets.net/x2maf5pkzgmb/<%= product.image %>?fm=webp"
          type="image/webp"
        />
        <img
          src="https://assets.ctfassets.net/x2maf5pkzgmb/<%= product.image %>"
          alt="<%= product.name %>"
        />
      </picture>

      <p><%= product.description %></p>

      <form action="/">
        <input id="small" name="size" type="radio" />
        <label for="small">S</label>
        <input id="medium" name="size" type="radio" />
        <label for="medium"> M</label>
        <input id="large" name="size" type="radio" /> 
        <label for="large">L</label>
        <button type="submit">Add to cart</button>
      </form>
    </div>
    <% }) %>
  </section>
</main>

<%- include('./partials/foot') %>
