<%- include('./partials/head') %>

    <header>
        <svg class="tt-logo" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 100 100">
            <path d="M48 32v48H32V32h16zm-32 0v16H0V32h16zm64 0v16H64V32h16zm0-32v16H0V0h80z" class="st0" />
        </svg>

        <div class="header-product">
            <% let newestProduct = null; 
if (products.length > 0) {
  newestProduct = products[0];
  for (let i = 1; i < products.length; i++) {
    if (new Date(products[i].sys.updatedAt) > new Date(newestProduct.sys.updatedAt)) {
      newestProduct = products[i];
    }
  }
} 
%>

<% if (newestProduct) { %>
  <div class="product-card">
    <h2><%= newestProduct.fields.title %></h2>
    <% if (newestProduct.fields.products && newestProduct.fields.products.length > 0) { %>
      <% const firstProduct = newestProduct.fields.products[0]; %>
      <% if (firstProduct.fields.primaryImage) { %>
        <img src="<%= firstProduct.fields.primaryImage.fields.file.url %>" alt="<%= newestProduct.fields.title %>" width="280" height="187">
      <% } %>
    <% } %>
    <p><%= newestProduct.fields.description %></p>
    <form action="/">
      <input class="small" type="radio" name="size" value="small">
      <label for="small">S</label>
      <input class="medium" type="radio" name="size" value="medium">
      <label for="medium">M</label>
      <input class="large" type="radio" name="size" value="large">
      <label for="large">L</label>
      <button type="submit">Submit</button>
    </form>
  </div>
<% } %>
        </div>

    </header>

    <main>
        <div class="product-container">
            <% products.forEach(product=> { %>
                <div class="product-card">
                    <h2>
                        <%= product.fields.title %>
                    </h2>
                    <% if (product.fields.products && product.fields.products.length> 0) { %>
                        <% const firstProduct=product.fields.products[0]; %>
                            <% if (firstProduct.fields.primaryImage) { %>
                                <img src="<%= firstProduct.fields.primaryImage.fields.file.url %>"
                                    alt="<%= product.fields.title %>" width="280" height="187">
                                <% } %>
                                    <% } %>
                                        <p>
                                            <%= product.fields.description %>
                                        </p>
                                        <form action="/">
                                            <input class="small" type="radio" name="size" value="small">
                                            <label for="small">S</label>
                                            <input class="medium" type="radio" name="size" value="medium">
                                            <label for="medium">M</label>
                                            <input class="large" type="radio" name="size" value="large">
                                            <label for="large">L</label>
                                            <button type="submit">Submit</button>
                                        </form>
                </div>
                <% }) %>
        </div>
    </main>
    <%- include('./partials/foot') %>