<%- include('./partials/head') %> 
<%- include('./partials/header') %>

        <main>
            <ul class="product-container">
                <% products.forEach(product=> { %>
                    <li class="product-card">
                        <h2>
                            <%= product.name %>
                        </h2>

                        <% if (product.image) { %>
                            <picture>
                                <source srcset="<%= product.image.url%>?fm=avif&w=200" type="image/avif" media="(max-width: 400px)">
                                <source srcset="<%= product.image.url%>?fm=avif&w=300" type="image/avif" media="(max-width: 500px)">
                                <source srcset="<%= product.image.url%>?fm=avif&w=400&h=200" type="image/avif" media="(max-width: 600px)">                                
                                <source srcset="<%= product.image.url%>?fm=avif&w=480&" type="image/avif">

                                <source srcset=" <%=product.image.url%>fm=webp&w=300&h=200"
                                type="image/webp">
                                <img src="<%= product.image.url %>?w=300&h=200" width="300" alt="<% product.name %>">
                            </picture>
                        <% } else { %>
                            <img src="/assets/sweater.avif" alt="sweater" width="300">
                        <% } %>
                        
                        <p>
                            <%= product.description %>
                        </p>

                        <form action="/cart" method="post">
                            <fieldset>
                                <input id="small" name="size" type="radio">
                                <label for="small">S
                                </label>
                                
                                    <input id="medium" name="size" type="radio"> 
                                <label for="medium">M     
                                </label>
                                
                                <input id="large" name="size" type="radio">
                                <label for="large">L
                                </label>
                            </fieldset>
                            <button type="submit">Add to cart</button>
                        </form>
                    </div>
                    <% }) %>
            </section>
        </main>

        <%- include('./partials/footer') %>
        <%- include('./partials/foot') %>