<%- include('./partials/head') %>

    <header>
        <nav>
            <svg class="tt-logo" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
                <path fill="#000"
                    d="M14.4 9.6V24H9.6V9.6h4.8Zm-9.6 0v4.8H0V9.6h4.8Zm19.2 0v4.8h-4.8V9.6H24ZM24 0v4.8H0V0h24Z" />
            </svg>
            <svg class="tt-wordmark" xmlns="http://www.w3.org/2000/svg" width="20" height="124" fill="none"
                class="tt-wordmark">
                <path fill="#fff" fill-rule="evenodd"
                    d="M5.36184 114.257H19.7368v3.157H5.36184v-3.157Zm-2.4671-3.402v-2.934H0v15.829h2.89474v-12.895ZM13.1579 97.921c4.0263 0 6.8421 2.868 6.8421 6.71 0 3.843-2.8158 6.711-6.8421 6.711-4.02632 0-6.84211-2.868-6.84211-6.711 0-3.842 2.81579-6.71 6.84211-6.71Zm3.9474 6.711c0 2.026-1.579 3.552-3.9474 3.552-2.3684 0-3.94737-1.526-3.94737-3.552 0-2.027 1.57897-3.553 3.94737-3.553s3.9474 1.526 3.9474 3.553Zm.7631-17.0728C19.2368 88.3487 20 89.6908 20 91.2698c0 2.7631-1.8421 4.8421-5.5526 4.8421H6.57895V92.954h7.23685c2.2105 0 3.421-1.0263 3.421-2.7105 0-1.6579-1.2105-2.6843-3.421-2.6843H6.57895v-3.1579H19.7368v3.1579h-1.8684ZM20 75.8552c0-3.6579-2.3158-6.4474-5.7895-6.6053v3.2632c1.9211.2631 2.8948 1.6842 2.8948 3.3421 0 1.9737-1.579 3.4474-3.9474 3.4474-2.3684 0-3.94737-1.4737-3.94737-3.4474 0-1.6579.86837-3.0526 2.60527-3.2632v-3.3158c-3.28948.3158-5.50001 3.0264-5.50001 6.579 0 3.7895 2.81579 6.6053 6.84211 6.6053 4.0263 0 6.8421-2.8158 6.8421-6.6053Zm-7.5-11.7039h7.2368v3.1579H0v-3.1579h8.47368c-1.39473-.8158-2.15789-2.1579-2.15789-3.7894 0-2.7895 1.8421-4.8948 5.55261-4.8948h7.8684v3.1579H12.5c-2.2105 0-3.42105 1.0526-3.42105 2.7632 0 1.7105 1.21055 2.7631 3.42105 2.7631ZM20 47.4474c0-.7632-.1579-1.6053-.3158-2.0789h-2.8158c.1579.4473.2369 1 .2369 1.4473 0 1.3684-.579 1.9737-1.8685 1.9737H9.34211v-3.421H6.57895v3.421H2.63158v3.1579h3.94737v2.1053h2.76316v-2.1053h6.10529c3.5263 0 4.5526-1.8947 4.5526-4.5Zm-6.9737-7.3092h6.7105v3.1579H6.57895v-3.1579h2.13158c-1.55263-.9474-2.39474-2.5-2.39474-4.4211 0-.2368 0-.4999.05263-.6578h3.44737c-.13158.3684-.21052.8421-.21052 1.3684 0 2.3421 1.21053 3.7105 3.42103 3.7105Zm6.7105-9.783H6.57895v3.1579H19.7368v-3.1579Zm-6.5789-16.2828c4.0263 0 6.8421 2.7105 6.8421 6.3158 0 1.5789-.7105 2.9473-1.9211 3.9473h1.6579v3.1579H0v-3.1579h3.28947v.0067h9.86843v-.0067c2.3684 0 3.9474-1.5264 3.9474-3.5527s-1.579-3.5526-3.9474-3.5526c-2.3684 0-3.94737 1.5263-3.94737 3.5526 0 .3844.05682.7509.16509 1.0923H6.53979c-.14682-.469-.224-.9665-.224-1.4869 0-3.6053 2.81579-6.3158 6.84211-6.3158ZM15.7895.34213C18.5263 1.13161 20 3.4211 20 6.52635c0 3.76315-2.8158 6.52635-6.8421 6.52635-4.02632 0-6.84211-2.7632-6.84211-6.52635 0-3.76316 2.81579-6.52632 6.84211-6.52632.3684 0 .7105.02631 1.0526.05264V9.9474c1.9211-.34211 3.0263-1.60527 3.0263-3.55263 0-1.39474-.5263-2.21054-1.4473-2.63159V.34213ZM11.9737 9.9211c-1.8421-.3421-2.89476-1.55263-2.89476-3.39473s1.05266-3.05263 2.89476-3.39473V9.9211ZM.45 30.3551v3.1575h3.1575v-3.1575H.45Z"
                    clip-rule="evenodd" />
            </svg>
        </nav>

        <div class="sticker">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="31" fill="none">
                <path fill="#8F62EC"
                    d="m10 26.6925-3.71312 3.9606C2.31587 26.9303.04567 21.7446.00064 16.3063L0 16.1415v-1.6299C0 9.06846 2.23048 3.86554 6.16705.11324L6.28688 0 10 3.96061C7.11833 6.66224 5.46857 10.4233 5.42969 14.369l-.00071.1426v1.6299c0 3.95 1.61548 7.7259 4.46739 10.4529L10 26.6925Z" />
            </svg>
            <p>New!</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="31" fill="none">
                <path fill="#fff"
                    d="m0 26.6925 3.71313 3.9606c3.971-3.7228 6.2412-8.9085 6.28623-14.3468L10 16.1415v-1.6299C10 9.06845 7.76952 3.86554 3.83295.11324L3.71313 0 0 3.96061C2.88167 6.66224 4.53143 10.4233 4.57031 14.369l.00071.1426v1.6299c0 3.95-1.61548 7.7259-4.4674 10.4529L0 26.6925Z" />
            </svg>
        </div>

    </header>

    <main>
        <section class="product-container">

            <ul>
                <% products.forEach(product=> { %>
                    <li class="product">
                        <h2>
                            <%= product.fields.title %>
                        </h2>
                        <img src="<%= getImageUrl(p.sys.id) %>" alt="<%= p.fields.title %>">

                    </li>
                    <% }) %>

            </ul>
        </section>
    </main>

    
    <%- include('./partials/foot') %>